root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx}]
quote_type = double
max_line_length = 120

[*.cs]
# Use K&R brace style (instead of Allman)
# https://en.wikipedia.org/wiki/Indentation_style#Notable_styles
csharp_new_line_before_open_brace = none
resharper_csharp_place_attribute_on_same_line = never
resharper_csharp_indent_raw_literal_string = do_not_change

[*.md]
trim_trailing_whitespace = false
